body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #111;
    color: white;
}

header {
    background-color: #222;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .user-info {
    display: flex;
    gap: 16px;
}

.full-width-image {
    margin: 0;
}
.full-width-image img {
    max-height: 400px;
    object-fit: cover;
}

nav .logo {
    font-size: 24px;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav a {
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.filters {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-bottom: 16px;
}

.filters input {
    padding: 10px;
    width: 250px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
    background-color: #111;
}

.card {
    border: 1px solid #ccc;
    padding: 16px;
    margin: 16px;
    width: 250px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.card img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.card h5 {
    margin: 10px 0;
}

button {
    background: red;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background: darkred;
}
    